# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
#restart execution after running if needed
!jupyter nbextension enable --py gmaps
!jupyter nbextension list

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

Known nbextensions:

      - Validating: ok
      - Validating: ok

  config dir: C:\Users\gshre\.jupyter\nbconfig
    notebook section
      jupyter-gmaps/extension enabled
  config dir: C:\Users\gshre\Anaconda3\etc\jupyter\nbconfig
    notebook section
      jupyter-js-widgets/extension enabled

In [17]:
from city_lib import (Find_Ideal_Cities, Load_City_Data)
from vacations_lib import Find_Motels_For_Cities
from vacationplots_lib import heatmap_plot
from api_keys import g_key
from matplotlib.pyplot import plot, show
import gmaps

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [18]:
cities_df = Load_City_Data()
cities_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,abu samrah,13,SY,1587216309,24,35.30,37.18,78.26,1.28
1,1,abu zabad,47,SD,1587216309,7,12.35,29.25,98.83,6.49
2,2,acapulco,5,MX,1587215869,64,16.86,-99.89,75.20,2.24
3,3,acevedo,91,CO,1587216293,64,1.84,-75.86,64.71,2.15
4,4,agua branca,97,BR,1587216339,86,-5.89,-42.64,76.75,4.52
...,...,...,...,...,...,...,...,...,...,...
550,550,yerbogachen,7,RU,1587216166,87,61.28,108.01,18.16,7.23
551,551,yulara,7,AU,1587216181,29,-25.24,130.99,78.80,8.05
552,552,yumen,6,CN,1587216295,15,40.28,97.20,62.29,8.30
553,553,zhaotong,39,CN,1587216301,39,27.32,103.72,61.29,4.23
554,554,zhigansk,0,RU,1587215972,92,66.77,123.37,7.14,13.06

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [19]:
gmaps.configure(api_key=g_key)

cities_complete = cities_df.dropna()
locations = cities_complete[["Lat", "Lng"]].astype(float)
humidity = cities_complete["Humidity"].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [20]:
ideal_cities = Find_Ideal_Cities(cities_complete)

     City_ID           City  Cloudiness Country        Date  Humidity    Lat  \
14        14  alice springs           0      AU  1587215994        37 -23.70
35        35         avarua           0      CK  1587216105        78 -21.21
96        96      catamarca           0      AR  1587216336        38 -28.47
191      191         hlotse           0      LS  1587216330        15 -28.87
323      323   monte patria           0      CL  1587216347        36 -30.69

        Lng  Max Temp  Wind Speed
14   133.88     71.60        6.93
35  -159.78     77.00        5.82
96   -65.79     72.81        5.41
191   28.05     71.89        4.74
323  -70.95     70.57        1.28

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [21]:
hotels_df = Find_Motels_For_Cities(ideal_cities)

Finding hotel for alice springs
Finding hotel for avarua
Finding hotel for catamarca
Finding hotel for hlotse
Finding hotel for monte patria
There is not hotel within the city radius of 500 meters

In [22]:
print(type(hotels_df))
hotels_df

<class 'pandas.core.frame.DataFrame'>

,name,city,country,lat,lng
0,Mercure Alice Springs Resort,Alice Springs,Australia,-23.702999,133.886497
1,Central Motel,Avarua District,Cook Islands,-21.208484,-159.775227
2,Hotel Grand Hotel,San Fernando del Valle de Catamarca,Argentina,-28.468715,-65.787278
3,Bird Haven Guesthouse Leribe Lesotho,Hlotse,Lesotho,-28.868167,28.047926

In [23]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotels_df.iterrows()]
locations = hotels_df[["lat", "lng"]]

In [24]:
#hotel_info

In [26]:
# Add marker layer ontop of heat map


marker_layer = gmaps.marker_layer(locations,
                             info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))